extends layout

block content
  .container
    form.form-signin(action='/login', method="post")
      img(src='')
      h2.form-signin-heading Iniciar session
      input.input-block-level(type="text", name="username", placeholder="Usuario" )
      input.input-block-level(type="password", name="password", placeholder="Contraseña" )
      p
      button.btn.btn-large.btn-primary(type="submit") Acceder
      p
      if (message)
        div.clearfix
        div.alert.alert-danger #{message}